services:
  backend:
    build: ./backend
    #PROD ONLY
    # command: >
    #   sh -c "echo 'Starting Daphne ASGI server' && python -m daphne -b 0.0.0.0 -p 8000 config.asgi:application"
    #DEV ONLY
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "8001:8001"
    env_file:
      - .env
    restart: always

  proxy:
    image: nginx:stable-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./backend/cert.pem:/etc/ssl/certs/cert.pem:ro
      - ./backend/key.pem:/etc/ssl/private/key.pem:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
      - frontend
    restart: always

volumes:
  frontend_node_modules:
  
